<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <location path="index.js" overrideMode="Allow">
    <system.webServer>
      <handlers>
        <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
      </handlers>

      <!-- Cấu hình iisnode -->
      <iisnode
        nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;"
        interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;"
        loggingEnabled="false" />

      <!-- Khắc phục lỗi '405 Method Not Allowed' -->
      <modules>
        <remove name="WebDAVModule"/>
      </modules>
    </system.webServer>
  </location>

  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="default.aspx" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="iisstart.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <add value="index.js" />
      </files>
    </defaultDocument>

    <!-- Rewrite Rules -->
    <rewrite>
      <rules>
        <rule name="server">
          <match url="/*" />
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
